/* src/styles/App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f8fa;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
.container {
  max-width: 800px;
  margin: 50px auto;
}
button {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: #0077ff;
  color: white;
}
